# Assignment 02

Dear Team Members,

I hope you are doing GREAT!

The following assignment is a step-by-step process to implement a multiclass classification using Iris classical dataset.
The idea of the current assignment is to intensify what we have learned in deep learning.

There are some new concepts and challenges that we will face in the current assignment, and we need to resolve each issue and move to the next step.

After the midterm, we will discuss part of the potential challenges. The assignment is easy to follow yet needs the patience to solve each question at a time.

**Note:**

Please note that every question has 0.5 and it provides five out of total ten marks for the assignment.

The video presentation, as you have done for Assignment 01, provides the rest of the mark, which is 5.

In short, 5 for coding + 5 for the video presentation = 10, but without YouTube presentation you receive no mark for the submission. In short, only submissions with YouTube link will be marked.

In [7]:
#00 The iris.csv file (Iris dataset) is located in the Assignment folder below the current ipynb file.

 **Important Note:** We are NOT allowed to import the dataset from Keras. We need to upload the provided iris.csv file to colab from our Google Drive.

In [8]:
#00 1st, upload the iris.csv into your Google Drive (your Colab folder).

In [9]:
#01-a Find the path of iris.csv file, and save it in a variable called fileName.

In [10]:
import pandas as pd
fileName = './sample_data/iris.csv'

In [11]:
#01-b Read the content of the iris.csv file and save it in a variable, named iris.

In [12]:
iris = pd.read_csv('./sample_data/iris.csv')
type(iris)

pandas.core.frame.DataFrame

In [13]:
#01-c Show the first 5 rows of the dataframe.

In [76]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

As you see, the last column contains strings. We want to convert these strings to integers,  and we can work with them easily in our Neural Network model.

setosa -> 0

versicolor -> 1

virginica -> 2

In [15]:
#2-a Please convert the last column strings to integers, as 
# setosa -> 0
# versicolor -> 1
# virginica -> 2

In [16]:
iris['species'].size

150

In [77]:
species_to_int = {'setosa': 0, 'versicolor': 1, 'virginica': 2}
iris['species'] = iris['species'].replace(species_to_int)

In [78]:
iris['species'] = iris['species'].astype(int)

In [79]:
#2-b Now, check the first 5 elements of the iris dataset once again:

In [82]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [21]:
#03-a Select the first four columns of the dataframe as the Data and call the data x.

In [22]:
x = iris.iloc[:, :4]

In [23]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [24]:
#03-b Select the last column as the label and call it y.

In [25]:
y = iris.iloc[:, -1]

In [26]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: species, Length: 150, dtype: int64

In [27]:
#04 Now, it is the time to split the data (x) and the label (y) into training and testin segments, 
#   and call them parts x_train,x_test,y_train,y_test.

In [28]:
#04-a Please split the data, and label ito training and testing segments, while the size of test data is 20%,
#     and use randome_state = 123 to make all the answers similar in the whole class.

In [29]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=123)

In [30]:
#04-b Please, check the first five rows of  x_train,x_test,y_train,y_test.

In [31]:
X_train.head(5)

     sepal_length  sepal_width  petal_length  petal_width
130           7.4          2.8           6.1          1.9
119           6.0          2.2           5.0          1.5
29            4.7          3.2           1.6          0.2
0             5.1          3.5           1.4          0.2
62            6.0          2.2           4.0          1.0

In [32]:
X_test.head(5)

     sepal_length  sepal_width  petal_length  petal_width
72            6.3          2.5           4.9          1.5
112           6.8          3.0           5.5          2.1
132           6.4          2.8           5.6          2.2
88            5.6          3.0           4.1          1.3
37            4.9          3.1           1.5          0.1

In [33]:
y_train.head(5)

130    2
119    2
29     0
0      0
62     1
Name: species, dtype: int64

In [34]:
y_test.head(5)

72     1
112    2
132    2
88     1
37     0
Name: species, dtype: int64

In [35]:
#04-c Check the length of the x_train and x_test. If the numbers are 120 & 30, AWESOME! 
#     You are good to continue!

In [36]:
len(X_train)

120

In [37]:
len(X_test)

30

In [38]:
#05-a Please, convert y_train and y_test into categorical, and call them
#     one_hot_train_labels, and one_hot_test_labels, respectively.

In [83]:
from tensorflow.keras.utils import to_categorical

# One-hot encode the target variable
one_hot_train_labels = to_categorical(y_train)
one_hot_test_labels = to_categorical(y_test)

In [57]:
#06-a Please define a sequential model that contains 3 dense layers.
#     In the first and second layers, use 100 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3 as the number of output, 
#     and the reason is we have three classes (setosa -> 0, versicolor -> 1, virginica -> 2)
#     Also, please pick an appropriate activation function for the last layer. 
#     (You already have guessed what could be the best when we have converted the labels to categorical.)

In [84]:
from keras import models
from keras import layers

model = models.Sequential()
#1
model.add(layers.Dense(100, activation='relu'))
#2
model.add(layers.Dense(100, activation='relu'))
#3 
model.add(layers.Dense(3, activation='softmax'))

In [59]:
#06-b Now, please compile your model using 'rmsprop', an appropriate loss function, and 'accuracy' for your metrics.

In [85]:
from keras import optimizers

model.compile(optimizer='rmsprop',
loss='categorical_crossentropy',
metrics=['accuracy'])

In [44]:
#07-a Pleease fit your model using epoch=20, batch = 10.

In [45]:
#08-a Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [86]:
history = model.fit(X_train, one_hot_train_labels, batch_size=10, epochs=20, validation_data=(X_test, one_hot_test_labels))

Epoch 1/20
12/12 [==============================] - 1s 27ms/step - loss: 0.9401 - accuracy: 0.5917 - val_loss: 0.7674 - val_accuracy: 0.6333
Epoch 2/20
12/12 [==============================] - 0s 10ms/step - loss: 0.7037 - accuracy: 0.7250 - val_loss: 0.5869 - val_accuracy: 0.9333
Epoch 3/20
12/12 [==============================] - 0s 7ms/step - loss: 0.5783 - accuracy: 0.8250 - val_loss: 0.4392 - val_accuracy: 0.8000
Epoch 4/20
12/12 [==============================] - 0s 7ms/step - loss: 0.4863 - accuracy: 0.8417 - val_loss: 0.3957 - val_accuracy: 0.9667
Epoch 5/20
12/12 [==============================] - 0s 9ms/step - loss: 0.4395 - accuracy: 0.8667 - val_loss: 0.3783 - val_accuracy: 0.8667
Epoch 6/20
12/12 [==============================] - 0s 6ms/step - loss: 0.3999 - accuracy: 0.8917 - val_loss: 0.3292 - val_accuracy: 0.9667
Epoch 7/20
12/12 [==============================] - 0s 7ms/step - loss: 0.3494 - accuracy: 0.9250 - val_loss: 0.3484 - val_accuracy: 0.8667
Epoch 8/20
12/12 [==============================] - 0s 9ms/step - loss: 0.3185 - accuracy: 0.9083 - val_loss: 0.2724 - val_accuracy: 0.9667
Epoch 9/20
12/12 [==============================] - 0s 8ms/step - loss: 0.2895 - accuracy: 0.9750 - val_loss: 0.2571 - val_accuracy: 0.9667
Epoch 10/20
12/12 [==============================] - 0s 9ms/step - loss: 0.2616 - accuracy: 0.9417 - val_loss: 0.3713 - val_accuracy: 0.7333
Epoch 11/20
12/12 [==============================] - 0s 9ms/step - loss: 0.2475 - accuracy: 0.9500 - val_loss: 0.2212 - val_accuracy: 0.9333
Epoch 12/20
12/12 [==============================] - 0s 7ms/step - loss: 0.2257 - accuracy: 0.9333 - val_loss: 0.2386 - val_accuracy: 0.9000
Epoch 13/20
12/12 [==============================] - 0s 7ms/step - loss: 0.1941 - accuracy: 0.9667 - val_loss: 0.2510 - val_accuracy: 0.8667
Epoch 14/20
12/12 [==============================] - 0s 8ms/step - loss: 0.1795 - accuracy: 0.9667 - val_loss: 0.1853 - val_accuracy: 0.9667
Epoch 15/20
12/12 [==============================] - 0s 9ms/step - loss: 0.1808 - accuracy: 0.9583 - val_loss: 0.2003 - val_accuracy: 0.9333
Epoch 16/20
12/12 [==============================] - 0s 8ms/step - loss: 0.1587 - accuracy: 0.9583 - val_loss: 0.1695 - val_accuracy: 0.9667
Epoch 17/20
12/12 [==============================] - 0s 7ms/step - loss: 0.1508 - accuracy: 0.9583 - val_loss: 0.1605 - val_accuracy: 0.9667
Epoch 18/20
12/12 [==============================] - 0s 7ms/step - loss: 0.1425 - accuracy: 0.9583 - val_loss: 0.2480 - val_accuracy: 0.8667
Epoch 19/20
12/12 [==============================] - 0s 7ms/step - loss: 0.1263 - accuracy: 0.9500 - val_loss: 0.1544 - val_accuracy: 0.9667
Epoch 20/20
12/12 [==============================] - 0s 6ms/step - loss: 0.1217 - accuracy: 0.9750 - val_loss: 0.1502 - val_accuracy: 0.9667

In [47]:
#09-a Now, we repeate all we have done in #06-a with the following parameters:
#     In the first and second layers, use 10 hidden units (neurons) and a 'relu' activation function.
#     For the last layer, we need to use 3.

In [87]:
from keras import models
from keras import layers

model = models.Sequential()
#1
model.add(layers.Dense(10, activation='relu'))
#2
model.add(layers.Dense(10, activation='relu'))
#3 
model.add(layers.Dense(3, activation='softmax'))

In [63]:
#09-b Use the same setting as you have done for #06-b (compile phase using 'rmsprom' and et cetera)

In [88]:
from keras import optimizers

model.compile(optimizer='rmsprop',
loss='categorical_crossentropy',
metrics=['accuracy'])

In [51]:
#09-c Please fit your model using epoch=4, batch = 10.

In [52]:
#09-d Please calculate the result, evaluating your x_test, one_hot_test_label, and see how accurate your model works.

In [89]:
history = model.fit(X_train, one_hot_train_labels, batch_size=10, epochs=4, validation_data=(X_test, one_hot_test_labels))

Epoch 1/4
12/12 [==============================] - 1s 20ms/step - loss: 1.1177 - accuracy: 0.4250 - val_loss: 1.0760 - val_accuracy: 0.3000
Epoch 2/4
12/12 [==============================] - 0s 6ms/step - loss: 0.9601 - accuracy: 0.5667 - val_loss: 0.9288 - val_accuracy: 0.6333
Epoch 3/4
12/12 [==============================] - 0s 6ms/step - loss: 0.8872 - accuracy: 0.6750 - val_loss: 0.8525 - val_accuracy: 0.6333
Epoch 4/4
12/12 [==============================] - 0s 5ms/step - loss: 0.8373 - accuracy: 0.6750 - val_loss: 0.7964 - val_accuracy: 0.6333

In [54]:
#10-a Please explain all you have learned from this assignment. 
# Theese are some quiestions that you could answer:
# How the number of layers or hidden units could impact the accuracy of our model.
# Do we always suffer from overfitting?
# How can we find and manage overfitting?

Double-click here to start typing your answer:

**How the number of layers or hidden units could impact the accuracy of our model?**

To determine the number of hidden layers, we first need to have a good understanding of our dataset, labels and what to take as a training and testing. Overall address a feasible architecture for our model. It is true to say that one of the main goal of our model, is to be able to learn smoothly, which utimately it should prevent

OVERFITTING: when a model learns the noise in the training data rather than the underlying patterns, leading to poor performance on new, unseen data.

INFORMATION BOTTLENECK: Occurs when we do not provide enought layers to our model so that it process the desired amount of information for the task at hand.
So we happen to create a bottleneck layer which has a small amount of neurons compared to the input -> output .

**Do we always suffer from overfitting?**

Overfitting is a common problem in NN, as I said previously, overfitting occurs in specific conditions.
In the case of setting to many hidden layers into our model we will see that it can fit the training data too closely, leading to overfitting. But this sould not mean that a NN must only have a few hidden layers in order to prevent overfitting, in fact it is a based on the problem itself. What I remeber from our classes, signs of overfitting in a neural network include a large gap between the training and validation error, high training accuracy, but low validation accuracy, and poor performance on new, unseen data.

**How can we find and manage overfitting?**

The best way of addressing overfitting is to monitor the val_loss and accuracy.Having said that we can prevent overfitting by stopping the training process at the epoch where our model start to overfitt (if we use a graph with matplot it is better).

In [55]:
#10-b
# Please try different sessing as we did in #09
# You can change the number of layers, hidden units, compile parameters, number of epochs, batch_size... everything!
# Please change one parameter at a time.
# And share your experience.

In [69]:
from keras import models
from keras import layers

model = models.Sequential()
#1
model.add(layers.Dense(150, activation='relu'))
#2
model.add(layers.Dense(130, activation='relu'))
#3 
model.add(layers.Dense(100, activation='relu'))
#4
model.add(layers.Dense(3, activation='softmax'))

In [70]:
from keras import optimizers

model.compile(optimizer='adam',
loss='categorical_crossentropy',
metrics=['accuracy'])

In [75]:
history = model.fit(X_train, one_hot_train_labels, batch_size=17, epochs=7, validation_data=(X_test, one_hot_test_labels))

Epoch 1/7
8/8 [==============================] - 0s 45ms/step - loss: 0.0501 - accuracy: 0.9917 - val_loss: 0.0952 - val_accuracy: 0.9333
Epoch 2/7
8/8 [==============================] - 0s 15ms/step - loss: 0.0435 - accuracy: 0.9917 - val_loss: 0.0798 - val_accuracy: 0.9667
Epoch 3/7
8/8 [==============================] - 0s 9ms/step - loss: 0.0486 - accuracy: 0.9917 - val_loss: 0.0789 - val_accuracy: 0.9667
Epoch 4/7
8/8 [==============================] - 0s 7ms/step - loss: 0.0514 - accuracy: 0.9917 - val_loss: 0.0898 - val_accuracy: 0.9667
Epoch 5/7
8/8 [==============================] - 0s 7ms/step - loss: 0.0466 - accuracy: 0.9917 - val_loss: 0.0791 - val_accuracy: 0.9667
Epoch 6/7
8/8 [==============================] - 0s 7ms/step - loss: 0.0439 - accuracy: 0.9917 - val_loss: 0.0895 - val_accuracy: 0.9667
Epoch 7/7
8/8 [==============================] - 0s 9ms/step - loss: 0.0471 - accuracy: 0.9917 - val_loss: 0.0806 - val_accuracy: 0.9667

---
# Deliverables:
1. Please, submit the current ipynb file with your responses.
2. Please record and upload to YouTube a 5 to 10 minutes video recorded clip, describing all you have done. If you go beyond 10 minutes, it is fine. The mentioned time range is to show how the scale of the assignment could be.

Notes: 
- In your submission, YOU MUST SUBMIT A LINK TO YOUR YOUTUBE VIDEO as a TEXT SUBMISSION SECTION on your BLACKBOARD SUBMISSION. Omitting this BB comment will result in a 0% for your total mark.

- To get the 5% of the (coding) mark, you need to submit a YouTube video that scrolls through your code, explaining every single line of your code.

Then submit the link to the uploaded YouTube video in the **Text Submision section** (see image below).  

![image.png](https://i.ibb.co/gjW5wYC/bb-submission-instructions.png)

**Summary:**

In short, what we need to submit are:

a)	The current **ipynb file** that contains all the code (5 marks).

b)	The **YouTube link** of your recorded video in the 
**Text Submission section** (5 marks).

Zero for submissions, without YouTube video explanation.

Wish you only the best, Dear Team Members!

Reza